<h1>Showing a Game</h1>

<ul>
  <li><a href="/games">Back to Games</a></li>
</ul>

<dl>
  <dt>Joined Rolls</dt>
  <dd><%= @game.rolls %></dd>
</dl>

<dl>
  <dt>Score</dt>
  <dd><%= @game.score %></dd>
</dl>