<h1>Game</h1>

<ul>
  <li><a href="/games">Back to Games</a></li>
  <li><a href="/games/<%= @game.id %>/edit">Edit Game</a></li>
</ul>

<dl>
  <dt>Hits</dt>
  <dd><%= @game.hits.join(',') %></dd>
</dl>

<dl>
  <dt>Score</dt>
  <dd><%= @game.score %></dd>
</dl>